html{
	color:#000;
	padding:10px 5px;
	font: 12px/18px "맑은 고딕","Malgun Gothic","굴림","Gulin",Verdana,Arial,Tahoma;
	overflow: auto;
}

h1{text-align: center;}
#report{
	width:400px;
	border-color:#30BD19;
	border-width:2px;
	border-style:solid;
	margin:0;
	padding:20px;
}
div.row_1{
	border-color: #30BD19;
	border-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-style: solid;
}
div.title{float:left; text-align: center; width:90px;}
div.row_2{

	border-color: #30BD19;
	border-width: 1px;
	border-left-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
}
#r_footer{
	border-color: #30BD19;
	border-width: 1px;
	border-left-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
}
#btn{
	padding: 10px 0 0 0;
	text-align: center;
}